<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<div class="card" style="width: 18rem;" data-th-fragment="cardVisual">
	  <img src="https://virtual.unju.edu.ar/pluginfile.php/420518/course/section/41401/logopv.png" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Programacion visual</h5>
	    <p class="card-text">Curso de Java, Html y css.</p>
	    <a href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=6#tabs-tree-start" class="btn btn-primary" target="_blank">Matricularme</a>
	  </div>
	</div>

	<div data-th-fragment="navbar">
	
		<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Inicio</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#">Acerca de</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Carreras</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Noticias</a>
		        </li>
		        <li class="nav-item">
		        	<a class="nav-link" href="#">Contacto</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
	
	
	<div data-th-fragment="pagination" data-bs-theme="dark">
		<nav aria-label="Page navigation ">
		  <ul class="pagination justify-content-center" >
		    <li class="page-item">
		      <a class="btn btn-outline-secondary" href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li class="page-item"><a class="btn btn-outline-secondary" href="#">1</a></li>
		    <li class="page-item"><a class="btn btn-outline-secondary" href="#">2</a></li>
		    <li class="page-item"><a class="btn btn-outline-secondary" href="#">3</a></li>
		    <li class="page-item">
		      <a class="btn btn-outline-secondary" href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
	
	<div data-th-fragment="footerdark">
		<footer class="bg-dark text-light pt-4">
		  <div class="container">
		    <div class="row">
		      <!-- Contact Information -->
		      <div class="col-md-4 mb-3">
		        <h5>Informacion de contacto</h5>
		        <p><i class="fas fa-map-marker-alt"></i> Ing. Mario Italo Palanca 10, Y4600 San Salvador de Jujuy, Jujuy</p>
		        <p><i class="fas fa-phone"></i> +54 0388 4221580</p>
		        <p><i class="fas fa-envelope"></i> contacto@fi.unju.edu.ar</p>
		      </div>
		      <!-- Social Media Links -->
		      <div class="col-md-4 mb-3">
		        <h5>Follow Us</h5>
		        <a href="https://www.facebook.com/universidadnacionaldejujuy/?locale=es_LA" class="text-light me-3" target="_blank"><i class="fab fa-facebook-f"></i></a>
		        <a href="https://www.instagram.com/fiunju/?hl=es" class="text-light me-3" target="_blank"><i class="fab fa-instagram"></i></a>
		        <a href="https://twitter.com/unjuvirtual?lang=es" class="text-light me-3" target="_blank"><i class="fab fa-twitter"></i></a>
		      </div>
		      <!-- Copyright -->
		      <div class="col-md-4 mb-3">
		        <h5>&copy; 2024 Universidad Nacional de Jujuy</h5>
		        <p>Todos los derechos reservados.</p>
		      </div>
		    </div>
		  </div>
		</footer>
	</div>

</body>
</html>